name: Check Offical Portal SDK Version
on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

env:
  PORTAL_SDK_VERSION: "1.1.1.0"
  PORTAL_SDK_SIZE: "2941058365"

jobs:
  build:
    name: Check for SDK update 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Get Offical Portal Version Info
        run: echo "SDK_VERSION_INFO=$(curl -A 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:143.0) Gecko/20100101 Firefox/143.0'  'https://download.portal.battlefield.com/versions.json')" >> $GITHUB_ENV
      - name: Extract Version, File Size, and Version Count
        run: |
          VERSION=$(echo "$SDK_VERSION_INFO" | jq -r '.versions | last | .version')
          FILE_SIZE=$(echo "$SDK_VERSION_INFO" | jq -r '.versions | last | .fileSize')
          echo "NEW_SDK_VERSION=$VERSION" >> $GITHUB_ENV
          echo "NEW_SDK_SIZE=$FILE_SIZE" >> $GITHUB_ENV

      - name: Check Version and Size Difference
        run: |
          if [ "$PORTAL_SDK_VERSION" != "$NEW_SDK_VERSION" ]; then
            echo "::warning title=Version Mismatch::Portal SDK version has changed.  Old: $PORTAL_SDK_VERSION, New: $NEW_SDK_VERSION"
          fi
          if [ "$PORTAL_SDK_SIZE" != "$NEW_SDK_SIZE" ]; then
            echo "::warning title=Size Mismatch::Portal SDK size has changed. Old: $PORTAL_SDK_SIZE, New: $NEW_SDK_SIZE"
          fi
          if [ "$PORTAL_SDK_VERSION" == "$NEW_SDK_VERSION" ] || [ "$PORTAL_SDK_SIZE" == "$NEW_SDK_SIZE" ]; then
            echo "Version and size match."
          fi
      - name: Send Alert to discord
        if: steps.check_version_count.outputs.version_count_changed == 'true'
        uses: appleboy/discord-action@v1.2.0
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          username: "PortalSDK Version Tracker"
          message: ":bf6: <@338947895665360898>\n### New Version of Official SDK Available.\nNew Version: `${{ env.NEW_SDK_VERSION }}`\nNew Size: `${{ env.NEW_SDK_SIZE }}`\n[Download](https://download.portal.battlefield.com/PortalSDK.zip)"
